/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                General Style                 */
/*~ ------------------------------------------ ~*/

/*  Aplicable for all   */
body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  width: 100%;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited { color: #222222; }
a:hover { text-decoration: underline; }
a:active { color: var(--primary-color); }
/*  -----------------   */

/*  This is aplicable for all headers   */
header {
  margin: 1.9rem;

  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.ham_menu { display: none; }
.ham_menu:active { filter: invert(40%); }
header picture img { height: 8.1rem; }
.top-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

/* Principal nav */
/* General */
nav { align-self: end; }
nav ul {
  display: flex;
  gap: 3.75rem;
}
nav li { list-style: none; }
/* --- */
/* Only when "Menu buton" is pressed */
.top-prinav_layer {
    height: 100%;
    width: 100vw;
    background: white;
    padding: 0.3rem;
  
    position: absolute;
    z-index: 100;
    top: 11rem;
    left: 50rem;

    display: flex;
    justify-content: center;
}
.top-prinav_layer ul {
    font-size: 1.375rem;
    flex-direction: column;
    gap: 2rem;
}
/* ********************************* */

/*  Breadcrumb  */
.breadcrumb { align-self: self-start; }
nav.breadcrumb ol { list-style: none; }
nav.breadcrumb li { display: inline; }
nav.breadcrumb li + li::before {
  margin: 0 0.25em;
  content: " ";

  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  background-image: url("../media/icons/Shape.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
nav.breadcrumb [aria-current="page"] 
{ font-weight: 700; }
/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */
/*  ~ Header end ~   */
/* ------------------------------------- */

h1 {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}

/*  This is aplicable for see-more section   */
.see-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.625rem;

  margin-top: 5rem;
  margin-bottom: 6.875rem;
  padding: 0 1.25rem;
}
.see-more h2 {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}

.see-more div {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6.55rem;
}
.see-more article {
  height: 100%;
  width: 100%;
  min-width: 10rem;
  max-width: 16rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(100%/3 - 85px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.see-more img { 
  width: 100%;
  border-radius: 50%;
}
.see-more article h3 {
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 2.125rem;
}
.see-more article span {
  display: block;
  background-color: var(--primary-color);
  border-radius: 2px;
  /* offset-x, offset-y, blur, spread, color */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: 0.625rem 1.25rem;
}
.see-more span:hover {
  filter: brightness(120%);
  text-decoration: underline;
}
.see-more span:active { 
  box-shadow: 0 0 0;
  filter: brightness(90%);
  text-decoration: underline;
}
.see-more a:link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more a:visited { color: #ffffff; }
/*  ~ see-more end ~   */
/* ------------------------------------- */

/*  This is aplicable for all footers   */
footer {
  background-color: #000000;
  font-size: 1rem;
  color: #ffffff;

  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer li { list-style: none; }
footer a:link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a:visited, .see-more a:visited 
{ color: #ffffff; }
footer ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 3.125rem;
  grid-row-gap: 1.25rem;
  align-items: center;
  justify-content: center;
}
footer img {
  width: 2.8rem;
  height: 2.8rem;
  filter: invert(100%);
}
footer li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.375rem;
}
/*  ~ Footer end ~   */
/* ------------------------------------- */

/* //////////////////////////////////////////// */
/*                   MOBILE                     */
/* //////////////////////////////////////////// */
@media screen and (max-width: 480px) {  
  /* header */
  header {
    margin: 0.625rem 1.25rem;
    margin-bottom: 2rem;
  }
  .top-header { align-items: center; }
  .ham_menu { 
    display: inline;
    height: 3.5rem;
  }
  header nav { display: none; }
  /* //////////////////////////// */

  /* see-more section */
  .see-more {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 3rem;
  }
  .see-more div {
    flex-direction: column;
    gap: 3.5rem;
  }
  .see-more article { gap: 0.5rem; }
  /* //////////////////////////// */

  /* footer */
  footer ul {
    margin-top: 1.56rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
  }
  footer li ul {
    flex-direction: row;
    margin: 0;
  }
  /* //////////////////////////// */
}
/* //////////////////////////////////////////// */

/* //////////////////////////////////////////// */
/*                    TABLET                    */
/* //////////////////////////////////////////// */
@media screen and (min-width: 481px) and (max-width: 720px) {  
  /* header */
  header {
    margin: 0.625rem 1.25rem;
    margin-bottom: 2rem;
  }
  .top-header { align-items: center; }
  .ham_menu { 
    display: inline;
    height: 3.5rem;
  }
  header nav { display: none; }
  /* //////////////////////////// */

  /* see-more section */
  .see-more {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 3rem;
  }
  .see-more div { gap: 3.5rem; }
  .see-more article { gap: 0.5rem; }
  /* //////////////////////////// */

  /* footer */
  footer ul {
    grid-column-gap: 1rem;
    grid-row-gap: 0.75rem;
  }
  footer li ul {
    flex-direction: row;
    margin: 0;
  }
  /* //////////////////////////// */
}
/* //////////////////////////////////////////// */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
